/* Estilos generales */
body {
    background-color:tomato;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
     align-items:center;
}

.contenedor{
width:920px;
height:280px;
margin: 0 auto;
position:relative;
background: linear-gradient(red,blue)
}

.dino{
width:84px;
height:84px;
position:absolute;
bottom:22px;
left:42px;
z-index: 2;

 background: url(https://cdn.glitch.global/78a7d615-ac67-4d48-bae0-e4977d6243c8/dino.png?v=1692967760491) repeat-x 0px 0px; 
 background-size: 336px 84px;
 background-position-x: 0px;
}

.dino-corriendo{
    animation: animarDino 0.25s steps(2) infinite ;
}

.dino-estrellado{
background-position-x: -252px;
}

@keyframes animarDino{
  from{
background-position-x: -84px;
  }
  to{
background-position-x: -252px;
}
}

.suelo{
width:200%;
height:42px;

position:absolute;
bottom: 0;
left:0;
background: url() repeat-x 0px 0px;
background-size: 50% 42px;
}

.score{
width:100px;
height:30px;

position: absolute;
top:5px;
right:15px;
z-index: 10;
  color:orange;
font-family: ;
font-size:30px;
font-weight:bold;
text-align:right;

}